<footer class="footer">
  <div class="footer-background">
    <div class="container">
      <div class="footer-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <div class="footer-medicare">
              <img src="assets/img/footer_1.png" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s,</p>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-2 col-lg-2">
            <div class="footer-link">
              <img src="assets/img/footer_2.png" alt="">
              <ul>
                <a href="#">
                  <li><span>*</span> Home</li>
                </a>
                <hr>
                <a href="#clinic">
                  <li><span>*</span> Our CLinic</li>
                </a>
                <hr>
                <a href="#staff">
                  <li><span>*</span> Our Staff</li>
                </a>
                <hr>
                <a href="#resourses">
                  <li><span>*</span> Resourses</li>
                </a>
                <hr>
                <a href="#Alert">
                  <li><span>*</span> Alerts</li>
                </a>
                <hr>
                <a href="#Contacs">
                  <li><span>*</span> Contacs Us</li>
                </a>
                <hr>
              </ul>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-2 col-lg-2">
            <div class="footer-link">
              <img src="assets/img/footer_3.png" alt="">
              <ul>
                <a href="#">
                  <li><span>*</span> Facebook</li>
                </a>
                <hr>
                <a href="#">
                  <li><span>*</span> Twitter</li>
                </a>
                <hr>
                <a href="#">
                  <li><span>*</span> Instagram</li>
                </a>
                <hr>
                <a href="#">
                  <li><span>*</span> Google</li>
                </a>
                <hr>
                <a href="#">
                  <li><span>*</span> Youtube</li>
                </a>
                <hr>
                <a href="#">
                  <li><span>*</span> Support</li>
                </a>
                <hr>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-5">
            <div class="footer-comment">
              <h5>LOREM ISPUM IS SIMPLY DUMMY TEXT</h5>
              <p>25 May 2020 5:25 am</p>
              <hr>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the industry's standard dummy text ever since the 1500s,</p>
              <div class="comment-end">
                <div class="comment-end-left">
                  <i class="far fa-comments"></i>
                  <a href="#">
                    <span>3 comments</span>
                  </a>
                </div>
                <div class="comment-end-right">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-background">
    <div class="container">
      <img src="assets/img/copyright.png" alt="copyright">
    </div>
  </div>
</footer>